In [4]:
from pyspark.sql import SparkSession
from pyspark.sql import column
import pandas as pd
import sqlite3

In [5]:
con = sqlite3.connect('sentiment.db')

In [6]:
df = pd.read_sql_query("SELECT * FROM sentiment", con)
df.columns

Index(['index', 'screen_name', 'date_time', 'text', 'retweeted', 'lang'], dtype='object')

In [7]:
print(df.head)

<bound method NDFrame.head of     index      screen_name                   date_time  \
0       0      ethayes2010  2021-09-04 12:48:33.000000
1       1     ihave5broats  2021-09-04 12:48:31.000000
2       2   ToasterJessica  2021-09-04 12:48:31.000000
3       3      Zed18978371  2021-09-04 12:48:31.000000
4       4      GunPangSSam  2021-09-04 12:48:30.000000
5       0          Kahv6m7  2021-09-04 13:28:17.000000
6       1        TeslaOwls  2021-09-04 13:28:16.000000
7       2        andyro233  2021-09-04 13:28:15.000000
8       3       vin_wiesel  2021-09-04 13:28:11.000000
9       4  Jeeeeee66023780  2021-09-04 13:28:09.000000
10      0    Coinhustler84  2021-09-04 13:28:57.000000
11      1   developrwannab  2021-09-04 13:28:53.000000
12      2     FuBo19562152  2021-09-04 13:28:47.000000
13      3    kotoMxSamurai  2021-09-04 13:28:47.000000
14      4      luke_deluxe  2021-09-04 13:28:44.000000
15      0    Coinhustler84  2021-09-04 13:28:57.000000
16      1   developrwannab  2021-09-04 13:28:53.000000
17      2     FuBo19562152  2021-09-04 13:28:47.000000
18      3    kotoMxSamurai  2021-09-04 13:28:47.000000
19      4      luke_deluxe  2021-09-04 13:28:44.000000

                                                 text  retweeted lang
0   RT @ethayes2010: @CityofTelosa @MarcLore Final...          0   en
1                        @SamR33v3s New Tesla models.          0   ca
2   RT @basetankrs: Tesla’s are expensive because ...          0   en
3   @NorristownN @RolandStautz Yup - I’m the crazy...          0   en
4   @tesla_somac 저도 같은마음 입니다.\n대전.충남경선보고 속상한맘에 신랑과...          0   ko
5   RT @DusundukceVariz: “O kadar cahilsiniz ki, d...          0   tr
6   @EconomicManBlog @pauluaq1 @jrtolver16 @Tesla ...          0   en
7   @javielon95 @foroelectricos @GroupeRenaultEV @...          0   es
8   @nuc_geek Media: “TESLA CRASHES INTO BUILDING ...          0   en
9   @TeslaAIBot @Tesla Why you have so many follow...          0   en
10  RT @TeslaAIBot: Humans, \nThis is my favorite ...          0   en
11  @ukspacebulletin Great thanks. Now I got to ad...          0   en
12  RT @ChineseWSJ: #本周热读 尽管目前没有迹象表明台海冲突会很快爆发，但局势已...          0   zh
13  RT @afrooo_samurai: @Life_Is_Greater @HodlToke...          0  und
14  @MMarboni @RARpartners @TechInsider @OOIDA Fin...          0   en
15  RT @TeslaAIBot: Humans, \nThis is my favorite ...          0   en
16  @ukspacebulletin Great thanks. Now I got to ad...          0   en
17  RT @ChineseWSJ: #本周热读 尽管目前没有迹象表明台海冲突会很快爆发，但局势已...          0   zh
18  RT @afrooo_samurai: @Life_Is_Greater @HodlToke...          0  und
19  @MMarboni @RARpartners @TechInsider @OOIDA Fin...          0   en  >

In [10]:
spark = SparkSession.builder \
    .master("local[1]") \
    .appName("Tesla Tweets") \
    .getOrCreate()

In [11]:
sparkDF = spark.createDataFrame(df)
sparkDF.printSchema()

root
 |-- index: long (nullable = true)
 |-- screen_name: string (nullable = true)
 |-- date_time: string (nullable = true)
 |-- text: string (nullable = true)
 |-- retweeted: long (nullable = true)
 |-- lang: string (nullable = true)

In [12]:
sparkDF.show()

+-----+---------------+--------------------+-----------------------+---------+----+
|index|    screen_name|           date_time|                   text|retweeted|lang|
+-----+---------------+--------------------+-----------------------+---------+----+
|    0|    ethayes2010|2021-09-04 12:48:...|   RT @ethayes2010: ...|        0|  en|
|    1|   ihave5broats|2021-09-04 12:48:...|   @SamR33v3s New Te...|        0|  ca|
|    2| ToasterJessica|2021-09-04 12:48:...|   RT @basetankrs: T...|        0|  en|
|    3|    Zed18978371|2021-09-04 12:48:...|   @NorristownN @Rol...|        0|  en|
|    4|    GunPangSSam|2021-09-04 12:48:...|@tesla_somac 저도 같...|        0|  ko|
|    0|        Kahv6m7|2021-09-04 13:28:...|   RT @DusundukceVar...|        0|  tr|
|    1|      TeslaOwls|2021-09-04 13:28:...|   @EconomicManBlog ...|        0|  en|
|    2|      andyro233|2021-09-04 13:28:...|   @javielon95 @foro...|        0|  es|
|    3|     vin_wiesel|2021-09-04 13:28:...|   @nuc_geek Media: ...|        0|  en|
|    4|Jeeeeee66023780|2021-09-04 13:28:...|   @TeslaAIBot @Tesl...|        0|  en|
|    0|  Coinhustler84|2021-09-04 13:28:...|   RT @TeslaAIBot: H...|        0|  en|
|    1| developrwannab|2021-09-04 13:28:...|   @ukspacebulletin ...|        0|  en|
|    2|   FuBo19562152|2021-09-04 13:28:...|   RT @ChineseWSJ: #...|        0|  zh|
|    3|  kotoMxSamurai|2021-09-04 13:28:...|   RT @afrooo_samura...|        0| und|
|    4|    luke_deluxe|2021-09-04 13:28:...|   @MMarboni @RARpar...|        0|  en|
|    0|  Coinhustler84|2021-09-04 13:28:...|   RT @TeslaAIBot: H...|        0|  en|
|    1| developrwannab|2021-09-04 13:28:...|   @ukspacebulletin ...|        0|  en|
|    2|   FuBo19562152|2021-09-04 13:28:...|   RT @ChineseWSJ: #...|        0|  zh|
|    3|  kotoMxSamurai|2021-09-04 13:28:...|   RT @afrooo_samura...|        0| und|
|    4|    luke_deluxe|2021-09-04 13:28:...|   @MMarboni @RARpar...|        0|  en|
+-----+---------------+--------------------+-----------------------+---------+----+

In [15]:
sparkDFnoRT = sparkDF.filter(~sparkDF.text.startswith('RT'))
spark_DF_En = sparkDFnoRT.filter(sparkDFnoRT.lang.contains('en'))

# df.filter(df.name.startswith('Al')).collect()

In [16]:
sparkDFnoRT.show()

+-----+---------------+--------------------+-----------------------+---------+----+
|index|    screen_name|           date_time|                   text|retweeted|lang|
+-----+---------------+--------------------+-----------------------+---------+----+
|    1|   ihave5broats|2021-09-04 12:48:...|   @SamR33v3s New Te...|        0|  ca|
|    3|    Zed18978371|2021-09-04 12:48:...|   @NorristownN @Rol...|        0|  en|
|    4|    GunPangSSam|2021-09-04 12:48:...|@tesla_somac 저도 같...|        0|  ko|
|    1|      TeslaOwls|2021-09-04 13:28:...|   @EconomicManBlog ...|        0|  en|
|    2|      andyro233|2021-09-04 13:28:...|   @javielon95 @foro...|        0|  es|
|    3|     vin_wiesel|2021-09-04 13:28:...|   @nuc_geek Media: ...|        0|  en|
|    4|Jeeeeee66023780|2021-09-04 13:28:...|   @TeslaAIBot @Tesl...|        0|  en|
|    1| developrwannab|2021-09-04 13:28:...|   @ukspacebulletin ...|        0|  en|
|    4|    luke_deluxe|2021-09-04 13:28:...|   @MMarboni @RARpar...|        0|  en|
|    1| developrwannab|2021-09-04 13:28:...|   @ukspacebulletin ...|        0|  en|
|    4|    luke_deluxe|2021-09-04 13:28:...|   @MMarboni @RARpar...|        0|  en|
+-----+---------------+--------------------+-----------------------+---------+----+

In [17]:
spark_DF_En.show()

+-----+---------------+--------------------+--------------------+---------+----+
|index|    screen_name|           date_time|                text|retweeted|lang|
+-----+---------------+--------------------+--------------------+---------+----+
|    3|    Zed18978371|2021-09-04 12:48:...|@NorristownN @Rol...|        0|  en|
|    1|      TeslaOwls|2021-09-04 13:28:...|@EconomicManBlog ...|        0|  en|
|    3|     vin_wiesel|2021-09-04 13:28:...|@nuc_geek Media: ...|        0|  en|
|    4|Jeeeeee66023780|2021-09-04 13:28:...|@TeslaAIBot @Tesl...|        0|  en|
|    1| developrwannab|2021-09-04 13:28:...|@ukspacebulletin ...|        0|  en|
|    4|    luke_deluxe|2021-09-04 13:28:...|@MMarboni @RARpar...|        0|  en|
|    1| developrwannab|2021-09-04 13:28:...|@ukspacebulletin ...|        0|  en|
|    4|    luke_deluxe|2021-09-04 13:28:...|@MMarboni @RARpar...|        0|  en|
+-----+---------------+--------------------+--------------------+---------+----+

In [18]:
# need to fix index column

In [20]:
pandasDF = spark_DF_En.toPandas()

In [21]:
pandasDF

,index,screen_name,date_time,text,retweeted,lang
0,3,Zed18978371,2021-09-04 12:48:31.000000,@NorristownN @RolandStautz Yup - I’m the crazy...,0,en
1,1,TeslaOwls,2021-09-04 13:28:16.000000,@EconomicManBlog @pauluaq1 @jrtolver16 @Tesla ...,0,en
2,3,vin_wiesel,2021-09-04 13:28:11.000000,@nuc_geek Media: “TESLA CRASHES INTO BUILDING ...,0,en
3,4,Jeeeeee66023780,2021-09-04 13:28:09.000000,@TeslaAIBot @Tesla Why you have so many follow...,0,en
4,1,developrwannab,2021-09-04 13:28:53.000000,@ukspacebulletin Great thanks. Now I got to ad...,0,en
5,4,luke_deluxe,2021-09-04 13:28:44.000000,@MMarboni @RARpartners @TechInsider @OOIDA Fin...,0,en
6,1,developrwannab,2021-09-04 13:28:53.000000,@ukspacebulletin Great thanks. Now I got to ad...,0,en
7,4,luke_deluxe,2021-09-04 13:28:44.000000,@MMarboni @RARpartners @TechInsider @OOIDA Fin...,0,en

In [22]:
from sqlite3 import connect
from sqlalchemy import create_engine

In [24]:
engine = create_engine('sqlite:///sentiment.db', echo = True)
sqlite_connection = engine.connect()
sqlite_table = "spark_cleaned"
pandasDF.to_sql(sqlite_table, sqlite_connection, if_exists = 'replace')
sqlite_connection.close()

2021-09-04 10:20:18,331 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-09-04 10:20:18,333 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,334 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-09-04 10:20:18,345 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,355 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("spark_cleaned")
2021-09-04 10:20:18,370 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,390 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("spark_cleaned")
2021-09-04 10:20:18,401 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,408 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-09-04 10:20:18,409 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,414 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("spark_cleaned")
2021-09-04 10:20:18,415 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,422 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-04 10:20:18,424 INFO sqlalchemy.engine.base.Engine ('spark_cleaned',)
2021-09-04 10:20:18,430 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("spark_cleaned")
2021-09-04 10:20:18,431 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,433 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("spark_cleaned")
2021-09-04 10:20:18,434 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,435 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-04 10:20:18,441 INFO sqlalchemy.engine.base.Engine ('spark_cleaned',)
2021-09-04 10:20:18,446 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("spark_cleaned")
2021-09-04 10:20:18,448 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,450 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_spark_cleaned_level_0")
2021-09-04 10:20:18,451 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,461 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("spark_cleaned")
2021-09-04 10:20:18,465 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,471 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_spark_cleaned_level_0")
2021-09-04 10:20:18,476 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,481 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-04 10:20:18,483 INFO sqlalchemy.engine.base.Engine ('spark_cleaned',)
2021-09-04 10:20:18,488 INFO sqlalchemy.engine.base.Engine
DROP TABLE spark_cleaned
2021-09-04 10:20:18,490 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,496 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-04 10:20:18,498 INFO sqlalchemy.engine.base.Engine
CREATE TABLE spark_cleaned (
	level_0 BIGINT,
	"index" BIGINT,
	screen_name TEXT,
	date_time TEXT,
	text TEXT,
	retweeted BIGINT,
	lang TEXT
)


2021-09-04 10:20:18,500 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,504 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-04 10:20:18,508 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_spark_cleaned_level_0 ON spark_cleaned (level_0)
2021-09-04 10:20:18,510 INFO sqlalchemy.engine.base.Engine ()
2021-09-04 10:20:18,515 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-04 10:20:18,524 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-09-04 10:20:18,526 INFO sqlalchemy.engine.base.Engine INSERT INTO spark_cleaned (level_0, "index", screen_name, date_time, text, retweeted, lang) VALUES (?, ?, ?, ?, ?, ?, ?)
2021-09-04 10:20:18,530 INFO sqlalchemy.engine.base.Engine ((0, 3, 'Zed18978371', '2021-09-04 12:48:31.000000', '@NorristownN @RolandStautz Yup - I’m the crazy crypto/Tesla guy..', 0, 'en'), (1, 1, 'TeslaOwls', '2021-09-04 13:28:16.000000', "@EconomicManBlog @pauluaq1 @jrtolver16 @Tesla @ghost_scot I don't believe I ever claimed Tesla had great build quality on all their cars, that'd be a moronic statement\nYou can check my tweets, that's the thing I'm critical of\nThough, to be fair, new iterations of their factories are top level", 0, 'en'), (2, 3, 'vin_wiesel', '2021-09-04 13:28:11.000000', '@nuc_geek Media: “TESLA CRASHES INTO BUILDING WHILE ON AUTO-PILOT!!!!!!!!!!!!!!!!!”', 0, 'en'), (3, 4, 'Jeeeeee66023780', '2021-09-04 13:28:09.000000', '@TeslaAIBot @Tesla Why you have so many followers ?', 0, 'en'), (4, 1, 'developrwannab', '2021-09-04 13:28:53.000000', "@ukspacebulletin Great thanks. Now I got to add Tesla bot 🤔 So that's the kind of developer I am, a bit YouTube, Twitter and websites. \nYes I checked it out, very hopefull and inspirational.", 0, 'en'), (5, 4, 'luke_deluxe', '2021-09-04 13:28:44.000000', '@MMarboni @RARpartners @TechInsider @OOIDA Fine. Tesla should.', 0, 'en'), (6, 1, 'developrwannab', '2021-09-04 13:28:53.000000', "@ukspacebulletin Great thanks. Now I got to add Tesla bot 🤔 So that's the kind of developer I am, a bit YouTube, Twitter and websites. \nYes I checked it out, very hopefull and inspirational.", 0, 'en'), (7, 4, 'luke_deluxe', '2021-09-04 13:28:44.000000', '@MMarboni @RARpartners @TechInsider @OOIDA Fine. Tesla should.', 0, 'en'))
2021-09-04 10:20:18,535 INFO sqlalchemy.engine.base.Engine COMMIT