In [264]:
import pandas as pd
import sqlite3
from sqlite3 import connect
from sqlalchemy import create_engine
from nltk.corpus import stopwords
from textblob import TextBlob
from datetime import date, datetime
from pytz import timezone

In [265]:
con = sqlite3.connect('/Users/sean/labs/Capstone/TwitterStockAnalysis/sentiment.db')

In [275]:
#df = pd.read_sql_query("SELECT * FROM spark_cleaned", con)
df = pd.read_sql_query("SELECT * FROM spark_cleaned WHERE date_time LIKE '2021-09-04%'", con)
df = df.rename(columns = {'date_time': 'date_time_est'})

In [276]:
df.head()

,index,screen_name,date_time_est,text,retweeted,lang
0,0,Zed18978371,2021-09-04 12:48:31.000000,@NorristownN @RolandStautz Yup - I’m the crazy...,0.0,en
1,1,TeslaOwls,2021-09-04 13:28:16.000000,@EconomicManBlog @pauluaq1 @jrtolver16 @Tesla ...,0.0,en
2,2,vin_wiesel,2021-09-04 13:28:11.000000,@nuc_geek Media: “TESLA CRASHES INTO BUILDING ...,0.0,en
3,3,Jeeeeee66023780,2021-09-04 13:28:09.000000,@TeslaAIBot @Tesla Why you have so many follow...,0.0,en
4,4,developrwannab,2021-09-04 13:28:53.000000,@ukspacebulletin Great thanks. Now I got to ad...,0.0,en

In [277]:
len(df)

70

In [278]:
print(df.iloc[0, 2])
type(df.iloc[0,2])

2021-09-04 12:48:31.000000

str

In [279]:
eastern = timezone('US/Eastern')
utc = timezone('UTC')

# "%d/%m/%Y %H:%M:%S"
for index, row in df['date_time_est'].iteritems():
    
    created_at = datetime.strptime(row[:-7], '%Y-%m-%d %H:%M:%S')
    utc_created_at = utc.localize(created_at)
    #print(utc_created_at)
    row = utc_created_at.astimezone(eastern)
    df.loc[index, 'date_time_est'] = str(row)
    #print(est_created_at)
    #print(type(row))

In [280]:
df.head(5)

,index,screen_name,date_time_est,text,retweeted,lang
0,0,Zed18978371,2021-09-04 08:48:31-04:00,@NorristownN @RolandStautz Yup - I’m the crazy...,0.0,en
1,1,TeslaOwls,2021-09-04 09:28:16-04:00,@EconomicManBlog @pauluaq1 @jrtolver16 @Tesla ...,0.0,en
2,2,vin_wiesel,2021-09-04 09:28:11-04:00,@nuc_geek Media: “TESLA CRASHES INTO BUILDING ...,0.0,en
3,3,Jeeeeee66023780,2021-09-04 09:28:09-04:00,@TeslaAIBot @Tesla Why you have so many follow...,0.0,en
4,4,developrwannab,2021-09-04 09:28:53-04:00,@ukspacebulletin Great thanks. Now I got to ad...,0.0,en

In [281]:
df_drop_index = df.drop(columns = 'index')

In [282]:
df_drop_index.head()

,screen_name,date_time_est,text,retweeted,lang
0,Zed18978371,2021-09-04 08:48:31-04:00,@NorristownN @RolandStautz Yup - I’m the crazy...,0.0,en
1,TeslaOwls,2021-09-04 09:28:16-04:00,@EconomicManBlog @pauluaq1 @jrtolver16 @Tesla ...,0.0,en
2,vin_wiesel,2021-09-04 09:28:11-04:00,@nuc_geek Media: “TESLA CRASHES INTO BUILDING ...,0.0,en
3,Jeeeeee66023780,2021-09-04 09:28:09-04:00,@TeslaAIBot @Tesla Why you have so many follow...,0.0,en
4,developrwannab,2021-09-04 09:28:53-04:00,@ukspacebulletin Great thanks. Now I got to ad...,0.0,en

In [283]:
len(df_drop_index)

70

In [284]:
# remove duplicates 
df_no_dupes = df_drop_index.drop_duplicates()
df_no_dupes
len(df_no_dupes)

16

In [285]:
# use regex to remove @usernames

df_no_dupes['text'] = df_no_dupes['text'].str.replace('@[^\s]+','')
#re.sub('@[^\s]+','',Tweet)

<ipython-input-285-59960d4ecb67>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_no_dupes['text'] = df_no_dupes['text'].str.replace('@[^\s]+','')
<ipython-input-285-59960d4ecb67>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_dupes['text'] = df_no_dupes['text'].str.replace('@[^\s]+','')

In [286]:
df_no_dupes

,screen_name,date_time_est,text,retweeted,lang
0,Zed18978371,2021-09-04 08:48:31-04:00,Yup - I’m the crazy crypto/Tesla guy..,0.0,en
1,TeslaOwls,2021-09-04 09:28:16-04:00,I don't believe I ever claimed Tesla had ...,0.0,en
2,vin_wiesel,2021-09-04 09:28:11-04:00,Media: “TESLA CRASHES INTO BUILDING WHILE ON ...,0.0,en
3,Jeeeeee66023780,2021-09-04 09:28:09-04:00,Why you have so many followers ?,0.0,en
4,developrwannab,2021-09-04 09:28:53-04:00,Great thanks. Now I got to add Tesla bot 🤔 So...,0.0,en
5,luke_deluxe,2021-09-04 09:28:44-04:00,Fine. Tesla should.,0.0,en
8,lordhyperkill,2021-09-04 10:52:30-04:00,That’s a real thing? Whenever I have heard a...,0.0,en
9,barryagall,2021-09-04 10:52:29-04:00,White interior.,0.0,en
40,Zed18978371,2021-09-04 08:48:31-04:00,Yup - I’m the crazy crypto/Tesla guy..,NaN,en
41,TeslaOwls,2021-09-04 09:28:16-04:00,I don't believe I ever claimed Tesla had ...,NaN,en
42,vin_wiesel,2021-09-04 09:28:11-04:00,Media: “TESLA CRASHES INTO BUILDING WHILE ON ...,NaN,en
43,Jeeeeee66023780,2021-09-04 09:28:09-04:00,Why you have so many followers ?,NaN,en
44,developrwannab,2021-09-04 09:28:53-04:00,Great thanks. Now I got to add Tesla bot 🤔 So...,NaN,en
45,luke_deluxe,2021-09-04 09:28:44-04:00,Fine. Tesla should.,NaN,en
48,lordhyperkill,2021-09-04 10:52:30-04:00,That’s a real thing? Whenever I have heard a...,NaN,en
49,barryagall,2021-09-04 10:52:29-04:00,White interior.,NaN,en

In [287]:
# use regex to remove punctuation and emojis 
df_no_dupes["text"] = df_no_dupes["text"].str.replace('[^\w\s]','')

<ipython-input-287-0fde4d1c2c14>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_no_dupes["text"] = df_no_dupes["text"].str.replace('[^\w\s]','')
<ipython-input-287-0fde4d1c2c14>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_dupes["text"] = df_no_dupes["text"].str.replace('[^\w\s]','')

In [292]:
for index, row in df_no_dupes['date_time_est'].iteritems():
    #print(row[:10])
    # time is currently utc
    df_no_dupes.loc[index, 'time'] = row[12:19]
    df_no_dupes.loc[index, 'new_date'] = row[:10]
df_no_dupes.head()

/Users/sean/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,screen_name,date_time_est,text,retweeted,lang,time,new_date
0,Zed18978371,2021-09-04 08:48:31-04:00,Yup Im the crazy cryptoTesla guy,0.0,en,8:48:31,2021-09-04
1,TeslaOwls,2021-09-04 09:28:16-04:00,I dont believe I ever claimed Tesla had g...,0.0,en,9:28:16,2021-09-04
2,vin_wiesel,2021-09-04 09:28:11-04:00,Media TESLA CRASHES INTO BUILDING WHILE ON AU...,0.0,en,9:28:11,2021-09-04
3,Jeeeeee66023780,2021-09-04 09:28:09-04:00,Why you have so many followers,0.0,en,9:28:09,2021-09-04
4,developrwannab,2021-09-04 09:28:53-04:00,Great thanks Now I got to add Tesla bot So t...,0.0,en,9:28:53,2021-09-04

In [295]:
df_no_dupes = df_no_dupes.drop(columns = 'date_time_est')

KeyError: "['date_time_est'] not found in axis"

In [297]:
df_no_dupes.head()

,screen_name,text,retweeted,lang,time,new_date
0,Zed18978371,Yup Im the crazy cryptoTesla guy,0.0,en,8:48:31,2021-09-04
1,TeslaOwls,I dont believe I ever claimed Tesla had g...,0.0,en,9:28:16,2021-09-04
2,vin_wiesel,Media TESLA CRASHES INTO BUILDING WHILE ON AU...,0.0,en,9:28:11,2021-09-04
3,Jeeeeee66023780,Why you have so many followers,0.0,en,9:28:09,2021-09-04
4,developrwannab,Great thanks Now I got to add Tesla bot So t...,0.0,en,9:28:53,2021-09-04

In [298]:
# select only certain time periods, keeping note gmt to est

In [299]:
# make all text lowercase

df_no_dupes['text'] = df_no_dupes['text'].apply(lambda x: x.lower())

In [300]:
# remove stop words 
stop = stopwords.words('english')

df_no_dupes['text'] = df_no_dupes['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [301]:
# stop
# list of stop words

In [302]:
# clean up indexes
df = df_no_dupes
df = df.reset_index(drop=True)
df

,screen_name,text,retweeted,lang,time,new_date
0,Zed18978371,yup im crazy cryptotesla guy,0.0,en,8:48:31,2021-09-04
1,TeslaOwls,dont believe ever claimed tesla great build qu...,0.0,en,9:28:16,2021-09-04
2,vin_wiesel,media tesla crashes building autopilot,0.0,en,9:28:11,2021-09-04
3,Jeeeeee66023780,many followers,0.0,en,9:28:09,2021-09-04
4,developrwannab,great thanks got add tesla bot thats kind deve...,0.0,en,9:28:53,2021-09-04
5,luke_deluxe,fine tesla,0.0,en,9:28:44,2021-09-04
6,lordhyperkill,thats real thing whenever heard thought people...,0.0,en,0:52:30,2021-09-04
7,barryagall,white interior,0.0,en,0:52:29,2021-09-04
8,Zed18978371,yup im crazy cryptotesla guy,NaN,en,8:48:31,2021-09-04
9,TeslaOwls,dont believe ever claimed tesla great build qu...,NaN,en,9:28:16,2021-09-04
10,vin_wiesel,media tesla crashes building autopilot,NaN,en,9:28:11,2021-09-04
11,Jeeeeee66023780,many followers,NaN,en,9:28:09,2021-09-04
12,developrwannab,great thanks got add tesla bot thats kind deve...,NaN,en,9:28:53,2021-09-04
13,luke_deluxe,fine tesla,NaN,en,9:28:44,2021-09-04
14,lordhyperkill,thats real thing whenever heard thought people...,NaN,en,0:52:30,2021-09-04
15,barryagall,white interior,NaN,en,0:52:29,2021-09-04

In [303]:
# sentiment analysis packages

from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [304]:
# nlp 

df[['polarity', 'subjectivity']] = df['text'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))

In [305]:
df.head()

,screen_name,text,retweeted,lang,time,new_date,polarity,subjectivity
0,Zed18978371,yup im crazy cryptotesla guy,0.0,en,8:48:31,2021-09-04,-0.600000,0.900000
1,TeslaOwls,dont believe ever claimed tesla great build qu...,0.0,en,9:28:16,2021-09-04,0.427273,0.680909
2,vin_wiesel,media tesla crashes building autopilot,0.0,en,9:28:11,2021-09-04,0.000000,0.000000
3,Jeeeeee66023780,many followers,0.0,en,9:28:09,2021-09-04,0.500000,0.500000
4,developrwannab,great thanks got add tesla bot thats kind deve...,0.0,en,9:28:53,2021-09-04,0.525000,0.712500

In [306]:
# NLP for sentiment, neg, neu, pos, compound

for index, row in df['text'].iteritems():
    score = SentimentIntensityAnalyzer().polarity_scores(row)
    #print(type(score))
    #print(score)
    neg = score['neg']
    neu = score['neu']
    pos = score['pos']
    comp = score['compound']
    if neg > pos:
        # loc looks at curent row and if neg > pos, sentiment is negative
        df.loc[index, 'sentiment'] = 'negative'
    elif pos > neg:
        df.loc[index, 'sentiment'] = 'positive'
    else:
        df.loc[index, 'sentiment'] = 'neutral'
        
    df.loc[index, 'neg'] = neg
    df.loc[index, 'neu'] = neu
    df.loc[index, 'pos'] = pos
    df.loc[index, 'compound'] = comp

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   screen_name   16 non-null     object
 1   text          16 non-null     object
 2   retweeted     8 non-null      float64
 3   lang          16 non-null     object
 4   time          16 non-null     object
 5   new_date      16 non-null     object
 6   polarity      16 non-null     float64
 7   subjectivity  16 non-null     float64
 8   sentiment     16 non-null     object
 9   neg           16 non-null     float64
 10  neu           16 non-null     float64
 11  pos           16 non-null     float64
 12  compound      16 non-null     float64
dtypes: float64(7), object(6)
memory usage: 1.8+ KB

In [308]:
# data lake > spark cleaned > NLP cleaned > visualization 
df.head(10)

,screen_name,text,retweeted,lang,time,new_date,polarity,subjectivity,sentiment,neg,neu,pos,compound
0,Zed18978371,yup im crazy cryptotesla guy,0.0,en,8:48:31,2021-09-04,-0.600000,0.900000,negative,0.375,0.625,0.000,-0.3400
1,TeslaOwls,dont believe ever claimed tesla great build qu...,0.0,en,9:28:16,2021-09-04,0.427273,0.680909,positive,0.175,0.585,0.240,0.2960
2,vin_wiesel,media tesla crashes building autopilot,0.0,en,9:28:11,2021-09-04,0.000000,0.000000,neutral,0.000,1.000,0.000,0.0000
3,Jeeeeee66023780,many followers,0.0,en,9:28:09,2021-09-04,0.500000,0.500000,neutral,0.000,1.000,0.000,0.0000
4,developrwannab,great thanks got add tesla bot thats kind deve...,0.0,en,9:28:53,2021-09-04,0.525000,0.712500,positive,0.000,0.423,0.577,0.9468
5,luke_deluxe,fine tesla,0.0,en,9:28:44,2021-09-04,0.416667,0.500000,positive,0.000,0.357,0.643,0.2023
6,lordhyperkill,thats real thing whenever heard thought people...,0.0,en,0:52:30,2021-09-04,-0.066667,0.233333,positive,0.000,0.929,0.071,0.2263
7,barryagall,white interior,0.0,en,0:52:29,2021-09-04,0.000000,0.000000,neutral,0.000,1.000,0.000,0.0000
8,Zed18978371,yup im crazy cryptotesla guy,NaN,en,8:48:31,2021-09-04,-0.600000,0.900000,negative,0.375,0.625,0.000,-0.3400
9,TeslaOwls,dont believe ever claimed tesla great build qu...,NaN,en,9:28:16,2021-09-04,0.427273,0.680909,positive,0.175,0.585,0.240,0.2960