In [1]:
import pandas as pd
import sqlite3
from sqlite3 import connect
from sqlalchemy import create_engine

In [34]:
con = sqlite3.connect('/Users/sean/labs/Capstone/TwitterStockAnalysis/sentiment.db')

In [35]:
df = pd.read_sql_query("SELECT * FROM tsla_stock_prices", con)

In [36]:
df.head()

,index,open,high,low,last,close,volume,date,symbol,exchange
0,0,738.53,760.16,738.14,753.05,733.57,308570.0,2021-09-07T19:30:00+0000,TSLA,IEXG
1,1,738.53,760.16,738.14,754.94,733.57,291181.0,2021-09-07T19:00:00+0000,TSLA,IEXG
2,2,738.53,760.16,738.14,752.89,733.57,274920.0,2021-09-07T18:30:00+0000,TSLA,IEXG
3,3,738.53,760.16,738.14,754.47,733.57,259757.0,2021-09-07T18:00:00+0000,TSLA,IEXG
4,4,738.53,760.16,738.14,752.29,733.57,242599.0,2021-09-07T17:30:00+0000,TSLA,IEXG

In [37]:
df_2_columns = df[['last', 'date']]

In [38]:
df_2_columns.head()

     last                      date
0  753.05  2021-09-07T19:30:00+0000
1  754.94  2021-09-07T19:00:00+0000
2  752.89  2021-09-07T18:30:00+0000
3  754.47  2021-09-07T18:00:00+0000
4  752.29  2021-09-07T17:30:00+0000

In [39]:
'''df_2_columns['new_date'] = None
df_2_columns['time'] = None'''

"df_2_columns['new_date'] = None\ndf_2_columns['time'] = None"

In [44]:
for index, row in df_2_columns['date'].iteritems():
    #print(row[:10])
    # time is currently utc
    df_2_columns.loc[index, 'time'] = row[11:16]
    df_2_columns.loc[index, 'new_date'] = row[:10]
    
df_2_columns = df_2_columns.drop(columns = 'date')

In [45]:
df_2_columns

      last   time    new_date
0   753.05  19:30  2021-09-07
1   754.94  19:00  2021-09-07
2   752.89  18:30  2021-09-07
3   754.47  18:00  2021-09-07
4   752.29  17:30  2021-09-07
..     ...    ...         ...
95     NaN  00:00  2021-08-31
96     NaN  23:30  2021-08-30
97     NaN  23:00  2021-08-30
98     NaN  22:30  2021-08-30
99     NaN  22:00  2021-08-30

[100 rows x 3 columns]

#### convert utc time to est

In [46]:
df_2_columns[['time']]

TypeError: '(['time'], 0)' is an invalid key